
@{
    ViewBag.Title = "Biography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Biography of Dr. Israr Ahmed</h2>
<p>
    Dr. Israr Ahmad, the second son of a government servant, was born on April 26, 1932 in Hisar (a district
    of East Punjab, now a part of Haryana) in India. He graduated from King Edward Medical College (Lahore) in 1954
    and later received his masters in Islamic Studies from the University of Karachi in 1965. He came under the
    influence of Allama Iqbal and Maulana Abul A`la Maududi as a young student, worked briefly for Muslim Student's
    Federation in the Independence Movement and, following the creation of Pakistan in 1947, for the Islami
    Jami`yat-e-Talaba and then for the Jama`at-e-Islami. Dr. Israr Ahmad resigned from the Jama`at in April 1957
    because of its involvement in the electoral politics, which he believed was irreconcilable with the revolutionary
    methodology adopted by the Jama'at in the pre-1947 period.<br />
    While still a student and an activist of the Islami Jami`yat-e-Talaba, Dr. Israr Ahmad gained considerable fame
    and eminence as a Mudarris (or teacher) of the Holy Qur'an. Even after resigning from the Jama`at, he continued
    to give Qur'anic lectures in different cities of Pakistan, and especially after 1965 he has, according to his own
    disclosure, invested the better part of his physical and intellectual abilities in the learning and teaching of
    the Qur'anic wisdom.<br />

    Dr. Israr Ahmad wrote an extremely significant tract in 1967 in which he explained his basic thought — that an
    Islamic Renaissance is possible only by revitalizing the Iman (true faith and conviction) among the Muslims,
    particularly their intelligentsia. The revitalization of Iman, in turn, is possible only by the propagation of
    the Qur'anic teachings and presenting the everlasting wisdom of the Book of Allah (SWT) in contemporary idiom
    and at the highest level of scholarship. This undertaking is essential in order to remove the existing dichotomy
    between modern physical and social sciences on the one hand and the knowledge revealed by Almighty Allah (SWT)
    on the other. This tract is available in English as “Islamic Renaissance: The Real Task Ahead”.<br />

    Dr. Israr Ahmad gave up his thriving medical practice in 1971 in order to launch a full-fledged and vigorous
    movement for the revival of Islam. As a result of his efforts, the Markazi Anjuman Khuddam-ul-Qur'an Lahore was
    established in 1972, Tanzeem-e-Islami was founded in 1975, and Tahreek-e-Khilafat Pakistan was launched in 1991.<br />

    Dr. Israr Ahmad first appeared on Pakistan Television in 1978 in a program called Al-Kitab; this was followed by
    other programs, known as Alif Lam Meem, Rasool-e-Kamil, Umm-ul-Kitab and the most popular of all religious
    programs in the history of Pakistan Television, the Al-Huda, which made him a household name throughout the
    country. Although he did not like to receive it personally, Dr. Israr Ahmad was awarded Sitara-e-Imtiaz in 1981.
    He has to his credit over 60 Urdu books on topics related to Islam and Pakistan, 9 of which have been translated
    into English and other languages.<br />

    In the context of Qur'anic exegesis and understanding, Dr. Israr Ahmad is a firm traditionalist of the genre
    of Maulana Mehmood Hassan Deobandi and Allama Shabeer Ahmad Usmani; yet he presents Qur'anic teachings in a
    scientific and enlightened way, being also a disciple of Allama Iqbal and Dr. Muhammad Rafiuddin, and also because
    of his own background in science and medicine. Concerning the internal coherence of and the principles of deep
    reflection in the Qur'an, he has essentially followed the thinking of Maulana Hameed Uddin Farahi and Maulana
    Ameen Ahsan Islahi, though even here he has further developed their line of argument. Dr. Israr Ahmad believes
    in a dynamic and revolutionary conception of Islam, and in this regard he is a disciple of Maulana Abul Kalam
    Azad and Maulana Sayyid Abul A`la Maududi.<br />

    For the last forty years or so, Dr. Israr Ahmad has been actively engaged not only in reviving the Qur'an-centered
    Islamic perennial philosophy and world-view but also reforming the society in a practical way with the ultimate
    objective of establishing a true Islamic State, or the System of Khilafah. He has widely traveled abroad and the
    audio and video tapes of his Qur'anic discourses in Urdu and English languages have circulated in thousands
    throughout the world.<br />

    A master's thesis, entitled Dr. Israr Ahmad's Political Thought and Activities, was written by Ms. Shagufta Ahmad
    in the Islamic Studies department of Canada's Mac Gill University. This thesis is available from Markazi Anjuman
    Khuddam-ul-Qur'an Lahore.<br />

    Dr. Israr Ahmed relinquished the leadership of Tanzeem-e-Islami in October, 2002  on grounds of bad health
    and Hafiz Aakif Saeed is the present Ameer of the Tanzeem to whom all rufaqaa of Tanzeem renewed their pledge
    of Baiyah.
</p>

