
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><b>All Categories</b></div>
    <div class="panel-body">
        @foreach (Dr.Israr_Ahmed.Models.Category category in ViewBag.Categories)
        {
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <a href="~/PlayVideo/PlayCategory/@category.Id"><img src="~/Content/SnapShots/@category.Thumbnail" width="160" height="100" /></a>
                    <div class="caption">
                        <p>@category.Name</p>
                        <p><a href="~/PlayVideo/PlayCategory/@category.Id" class="btn btn-primary" role="button">Play</a> <a href="~/PlayVideo/PlayCategory/@category.Id" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

